!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/bootstrap.min.js')
		//script(src='/javascripts/modernizr.custom.81317.js')
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a(href='/').brand ArdMostat
					ul.nav
						li 
							a(href='/Temperature') Temperature
						li
							a(href='/Schedule') Schedule

		.container
			.row
				.span12.pageheader
					h1=title
					.right
						span#minTemperature
						span#maxTemperature
						span#recentTemperatures
			.row
				.span10!= body
				.span2

	script(src='/javascripts/jquery-1.7.1.min.js')
	script(src='/javascripts/jquery.sparkline.min.js')
	script(src='/javascripts/site.js')
	- if (typeof(pagescript) != 'undefined' && typeof(pagescript) === 'string')
		script(src=pagescript)
	- else if (typeof(pagescript) != 'undefined')
		- for (var i=0; i < pagescript.length; i++)
			script(src=pagescript[i])

